* {
    box-sizing: border-box;
    font-size: 15px;
}

body {
    margin: 0px;
}

.my-course-container {
    padding: 8px;
    margin-top: 8px;

    width: 100%;
    height: 100%;
}
.list {
    display: flex;

    flex-wrap: wrap;

    /* border-top: 1px solid rgb(187, 186, 186); */
    padding: 5px;

    width: 100%;
    height: 80%;
    margin-top: 15px;
    margin-bottom: 15px;
}



.my-course-container-header {
    font-size: 15px;
    padding-bottom: 6px;
    font-weight: 600;
}

.my-course-container-find {
    padding-top: 16px;
    /* display: flex;
    justify-content: left; */
    align-content: left;
}

.my-course-wrapper {
    display: block;
    /* flex-wrap: wrap; */
}

.my-course-item {
    padding: 12px 0px;

    width: 265px;
}

.my-course-item-title {
    padding: 8px 0px;
}

