* {
  box-sizing: border-box;
  font-size: 15px;
}

body {
  margin: 0px;
}

.my-course-container {
  padding: 8px;
  margin-top: 8px;

  width: 100%;
  height: 100%;
}
.list {
  padding: 5px;

  margin-top: 15px;
  margin-bottom: 15px;
}

.my-course-container-header {
  font-size: 15px;
  padding-bottom: 6px;
  font-weight: 600;
}

.my-course-container-find {
  padding-top: 16px;
  align-content: left;
}

.my-course-wrapper {
  display: block;
}

.my-course-item {
  display: flex;
  padding: 12px 0px;
}

.my-course-item-img {
  display: flex;
  width: 150px;
  height: 100px;

  margin-right: 20px;
}

.my-course-item-title {
  padding: 8px 0px;
}

.my-course-a:hover {
  cursor: pointer;

  color: blue;
  font-display: inherit;
}
