* {
    box-sizing: border-box;
  }
  body {
    margin: 0px;
  }
  a {
    text-decoration: none;
  
    color: black;
  }
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-top: 30px;
  
    height: 100vh;
  }
  .container {
    height: 100%;
  }
  .main {
    display: flex;
  
    height: 100vh; 
  }
  .main2 {
    display: flex;
  
    flex-direction: row;
  }
  /*   */
  .side-bar {
    width: 190px;
    height: 100vh;
  }
  .side-menu {
    border: 1px solid #e4e4e4;
    height: 49px;
  
    font-size: 19px;
  
    background-color: #fafafa;
  }
  .side-menu:visited {
    background-color:#e9e9e9;
  }
  .side-menu:hover {
  background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color:#e9e9e9;
  }
  
  .side-menu2 {
    padding: 10px;
  }
  .all-choice {
    display: block;
  
    padding: 10px;
  
    height: 49px;
  }
  .head-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
  
    width: 920px;
  }
  .search {
    border: 1px solid #e4e4e4;
    border-radius: 6px;
  
    height: 40px;
  }
  .search-input {
    margin-left: 10px;
    border: none;
    outline: none;
    
    height: 20px;
  
    font-size: 15px;
  }
  .search-btn{
    border: none;
  
    height: 100%;
  }
  .choice-menu {
    /* display: flex; */
    margin-left: 30px;
    margin-bottom: 30px;
  
    width: 920px;
    
  }
  .myButton {
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color:#f9f9f9;
  margin-left: 5px;
  border-radius:20px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  }
  .myButton:hover {
  background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color:#e9e9e9;
  }
  .myButton:active {
  position:relative;
  top:1px;
  }
  .hr {
    display: inline;
    margin-left: 5px;
    border: .1px solid #eee;
    width: 0.1px;
    height: 50px;
  }
  
  .list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
  
    width: 920px;
    height: auto;
  }
  .project-item{
    padding: 0px 15px;
    border: 1px solid white;
  }
  .project-item:hover {
    border: 1px solid #ddd;
  background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color:#e9e9e9;
  }
  
  .project-container{
    margin-bottom: 20px;
    /* border: 1px solid #ddd; */
    border-radius: 4px;
    padding: 4px;
  
    width: 198px;
  }
  .item-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
  
    
    border-radius: 2px;
    width: 188px;
    height: 120px;
  
    cursor: pointer;
  
    /* overflow: hidden; */
  }
  .item-img-container img{
    width: 100%;
    height: 100%;
  }
  .item-img-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 90px;
    height: 40px;
  
    font-size: 5px;
  }
  .item-img-container2 img{
    width: 100%;
    height: 100%;
  }
  .item-content{
    padding: 9px;
  }
  
  .item-title{
    margin: 6px 0px 10px;
    font-size: 1rem;
    color: #3498db;
  }
  
  .item-discription{
    margin-bottom: 3px;
    border-bottom: 1px solid #eee;
    padding-bottom: 3px;
    height: 20px;
    
    font-size: .9rem;
  }
  
  .project-time{
    margin-bottom: 5px;
  
    font-size: 12px;
    font-weight: 700;
  }
  
  .project-time .fa-clock{
    font-size: 12px;
  }
  
  .btn-test{
    padding: 5Px 10px 5px;
    border: NONE;
    border-radius: 3PX;
  
    width: 70px;
    height: auto;
    line-height: 10px;
  
    background-color: hsl(321,63%,90%);
    color: black;
    font-size: 10px;
  
    cursor: pointer;
  }
  