

.orderList_container1{
    /* display: flex; */
    /* justify-content: center; */
    padding-top: 30px;
    padding-left: 10vw;    
    min-height: 100vh;
    /* background: aqua; */
}

.orderList_title1{  
    margin-bottom: 30px;
    border-bottom: 1px solid #C1CED6;
    width: 66.5%;
}

.test{
    width: 90%;
    text-align: center;
    vertical-align: middle;
}

.dashboard-wrapper1{
    /* padding-top: 19px; */
    /* padding-bottom: 20px; */
    /* border: 1px solid; */
    /* width: 90%; */
    /* background: turquoise; */
}

.orderList_dashboard1{

}

.subtitle-title{
    text-align: center;
    padding: 20px;
}

.subtitle-data{
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    

}

.name-link{
    cursor: pointer;
}




