* {
   box-sizing: inherit;
}

#main {
   min-height: 800px;
}

main {
   display: block;
}

.signup {
   margin: 80px auto auto;
   width: 320px;
   height: 676px;
}

section {
   display: block;
}

.brand-logo{
   display: block;
   margin: 0 auto;
   width: 188px;
   height: 98px;
   color: transparent;
   font-size: 0;

}

.signup--title{
   margin-bottom: 50px;
   text-align: center;
   font-weight: 550;
   font-size: 30px;
}

.h2 {
   display: block;
   margin-block-start: 0.83em;
   margin-block-end: 0.83em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
}

.form--label {
   line-height: 1.43;
   letter-spacing: -.3px;
   font-size: 15px;
   font-weight: 500;
   color: #3e4042;

   appearance: none;
   margin-top: 4px;
   width: 320px;
}

/* .form--input {
   appearance: none;
   margin-top: 4px;
   width: 320px;
} */

.form--input-block {
   width: 320px;
   margin-bottom: 16px;
}

.label {
   cursor: default;
   
}

.e-sign-up-input--e-email {
   /* padding: 13px 12px 13px 12px; */
   /* width: 240px; */
   width: 315px;
   height: 48px;
   line-height: 1.47;

   font-size: 12px;
   /* border: 1px solid #dee2e6; */
   /* letter-spacing: -.3px; */
   outline: none;
   display: flex;
   justify-content: space-between;
   border: 0px;
   border-bottom: 1px solid #2779cc;
}

.e-password {
   /* width: 265px; */
   width: 320px;
   height: 48px;
   display: flex;
   font-size: 12px;
   justify-content: space-between;
   border-bottom: 1px solid #2779cc;
}

.e-sign-up-input--password {
   border: 0px;
   color: #313134;
   outline: none;
}

.e-password-confirm {
   /* width: 265px; */
   width: 320px;
   height: 48px;
   display: flex;
   font-size: 12px;
   justify-content: space-between;
   border-bottom: 1px solid #2779cc;
}

.e-sign-up-input--e-password-confirm {
   border: 0px;
   color: #313134;
   outline: none;
}

.name1 {
   width: 315px;
   height: 48px;
   display: flex;
   justify-content: space-between;
   border: 0px;
   border-bottom: 1px solid #2779cc;
   outline: none;
   font-size: 12px;
   font-weight: 400;
   color: #313134;
   
}

.phone1 {
   width: 315px;
   height: 48px;
   display: flex;
   justify-content: space-between;
   border: 0px;
   border-bottom: 1px solid #2779cc;
   outline: none;
   line-height: 1.5;
   letter-spacing: -.3px;
   font-size: 12px;
   font-weight: 400;
   color: #313134;
   margin-top: 4px;
}

.toggle-password {
   color: #7dbbfa;
   margin-top: 10px;
   margin-right: 10px;

}

.e-signup-button {
   width: 315px;
   height: 48px;

   font-weight: 500;
   font-size: large;
   background-color: #2779cc;
   color: rgba(256,256,256,0.7);
   border:0;
   border-radius: 10px;
   display: block;
   margin: 40px auto; 
   
   font-size: 16px;

}

.form--error--email--hide {
   line-height: 1.5;
   letter-spacing: -.3px;
   font-size: 12px;
   font-weight: 400;
   margin-top: 4px;
   color: #e5503c;
}

.form-password-guide-hidden-line--error {
   line-height: 1.5;
   letter-spacing: -.3px;
   font-size: 12px;
   font-weight: 400;
   margin-top: 4px;
   color: #e5503c;
}

.form--error--passwordConfirm {
   line-height: 1.5;
   letter-spacing: -.3px;
   font-size: 12px;
   font-weight: 400;
   margin-top: 4px;
   color: #e5503c;
}
