* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.change-password-wrapper2 {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 800px;
}

.change-password-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 70%;
}

.head2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 30%;
}

.head-container2 {
    align-content: center;
    text-align: center;
}

.change-password-title2 {
    margin: 0px 0px 15px;
    font-size: 25px;
    font-weight: 400;
}

.change-phrase2 {
    margin: 0px;
    font-size: 15px;
    font-weight: 400;
}

.change-password-form2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70%;
}

.change-password-input-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 30%;
}

.input-label2 {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 5px;

    font-size: 15px;
    font-weight: 400;
}

.input-wrapper2 {
    display: flex;
    justify-content: space-between;

    border: 1px solid rgb(225, 223, 223);
    border-radius: 4px;

    height: 40px;
    width: 300px;
}

.password-input-container2 {
    border: 0px;
    background-color: none;
    margin: 2px 0px 2px 2px;
    width: 100%;
    outline: none;
}

.check-new-password-input-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
    

    width: 100%;
    height: 30%;
}

.btn-container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 50px;

    width: 100%;
    height: 40%;
}

.change-password-btn2 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 100px;
    border-radius: 4px;

    width: 100%;
    height: 48px;
    
    color: white;
    background-color: #2779cc;
    border: 0px;
}