.review5_list{
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  height: 85%;
  margin: auto 0;
}

.review5_main{
  display: inline-block;
  width: 45%;
  height: 42.5%;

  margin: auto;

  border: 1px solid #eee;
  border-radius: 10px;
}

.reviewTitle5{
  width: 50%;
  height: 15%;

  margin: 0 auto;
  padding: 15px 0;

  font-size: 24px;
  font-weight: bold;

  text-align: center;
}

.ratingStar{
  width: 80%;

  margin: 5px 10%;

  text-align: center;
}

.ratingStar span{
  position: inherit;
}

.ratingStar svg{
  width: 20px;
  height: 20px;
}

/*  */

.reviewBody{
  margin: 0 auto;

  width: 90%;
  height: 60%;
}

.reviewBody > p{
  font-size: 14px;
  margin: 0 auto;
}

.reviewSubmit{
  display: flex;
  
  margin: 5% 0;
  width: 100%;

  justify-content: space-between;
}

.reviewSubmit > button{
  margin: 0 5%;

  width: 80%;
  height: 40px;
  border: 1px solid #eee;
  border-radius: 10px;

  font-size: 16px;
  font-weight: bold;

  background-color: transparent;
}

.reviewSubmit > button:hover{
  background-color: #89c2ff;
}

/* 보여주는 항목 변경 */
.review5_change{
  display: flex;
  width: 95%;
  height: 80px;

  margin: 0 auto;
}

.reviewCollect5{
  width: 80%;

  display: flex;
  justify-content: space-around;
}

.reviewCollect5 > button{
  width: 30px;
  height: 30px;

  border: 1px solid #aad3ff;
  border-radius: 25px;

  text-align: center;
}

.leftBtn, .rightBtn{
  width: 20px;
  height: 20px;
}

.off{
  width: 0;
  height: 0;
}

.selectItem{
  background-color: #87c1ff;
}

.disabled{
  background-color: #ffffff;
}

#cItem:hover{
  background-color: #c6d4e3;
}

.writeReview5{
  background-color: antiquewhite;
  border: 1px solid black;
  border-radius: 10px;

  width: 20%;
  height: 50px;

  font-size: 16px;
  font-weight: bold;
}

.writeReview5:hover{
  background-color: rgb(255, 233, 233);
}